body {
    font-size: 15px;
}

.hide {
	display: none !important;
}

.page-sidebar{
	z-index: 1500;
}

.card.card-expand {
    z-index: 1560;
}

.bootbox .modal-content{
	border: 0 !important;
    border-radius: 0 !important;
}

.bootbox .modal-header {
    padding: 14px !important;
    background: #5d78ff !important;
    border-bottom: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.bootbox .modal-header .modal-title {
    font-weight: 500 !important;
    color: #fff !important;
}

.bootbox .modal-header .bootbox-close-button{
	color: #fff !important;
}

.bootbox .modal-body {
    padding: 0.9rem !important;
}

.bootbox .modal-footer{
	border-top: 0 !important;
}

.modal {
    z-index: 1650 !important;
}

.modal-backdrop {
    z-index: 1550 !important;
}
